language: python

python: 3.7

services:
  - docker

addons:
  hosts:
    - fbf.test
    - postgrest.fbf.test
    - swagger.fbf.test
    - geoserver.fbf.test

before_install:
  # We use makefile to control build
  - sudo apt -y update; sudo apt -y install make zip wget curl

before_script:
  # Frontend deployment
  - pushd deployment
  - cp .sample.env .env
  - popd
  # Docker OSM backend
  - pushd docker-osm/indonesia-buildings
  - make prepare-integration-tests
  - popd
  # Schema and test data preparations
  - pushd deployment
  - make backend-up SERVICE=db
  - sleep 20
  - make wait-db-ready
  # Twice because db is restarting when initialized
  - make wait-db-ready
  - make backend-up SERVICE=imposm
  - make backend-first-pbf-import
  - make backend-wait-first-pbf-import
  - make backend-stop SERVICE=imposm
  - make backend-schema-test
  - make backend-populate-test-data
  - make backend-up SERVICE=testrunner
  - make backend-up SERVICE=postgrest
  - make backend-up SERVICE=swagger
  - make wait-backend-ready
  - popd

script:
  # Backend deployment tests
  - pushd deployment
  - make backend-test
  # forecast test
  - make backend-forecast-test
  - popd
