
    LAYER
		NAME "exposed_buildings"
		METADATA
			"ows_title" "exposed_buildings"
		END
		STATUS ON
		TYPE POLYGON
		CONNECTIONTYPE postgis
		CONNECTION "host={{ POSTGRES_HOST }} port={{ POSTGRES_PORT }} dbname={{ POSTGRES_DB }} user={{ POSTGRES_USER }} password={{ POSTGRES_PASS }}"
		DATA "geometry from mv_flood_event_buildings using unique id"

		CLASS
			NAME "default"
			STYLE
				COLOR 255 0 0
				OUTLINECOLOR 0 0 0
			END
		END
	END
