
    LAYER
		NAME "flood_forecast_layer"
		METADATA
			"ows_title" "flood_forecast_layer"
		END
		STATUS ON
		TYPE POLYGON
		CONNECTIONTYPE postgis
		CONNECTION "host={{ POSTGRES_HOST }} port={{ POSTGRES_PORT }} dbname={{ POSTGRES_DB }} user={{ POSTGRES_USER }} password={{ POSTGRES_PASS }}"
		DATA "geometry from (select
            row_number() OVER () AS gid,
            hazard_event.id as id,
            geometry,
            depth_class
            from hazard_event
            inner join hazard_map on hazard_event.flood_map_id = hazard_map.id
            inner join hazard_areas on hazard_map.id = hazard_areas.flood_map_id
            inner join hazard_area on hazard_areas.flooded_area_id = hazard_area.id) as subquery
         using unique gid using srid=4326"

		CLASS
			NAME "1:50 year extent"
			EXPRESSION ([depth_class] = 5)
			STYLE
				OPACITY 30.0
				COLOR "#f5fbff"
				OUTLINECOLOR "#f5fbff"
				OUTLINEWIDTH 0.0
			END
		END

		CLASS
			NAME "1:20 year extent"
			EXPRESSION ([depth_class] = 6)
			STYLE
				OPACITY 30.0
				COLOR "#bfddf1"
				OUTLINECOLOR "#bfddf1"
				OUTLINEWIDTH 0.0
			END
		END

		CLASS
			NAME "1:10 year extent"
			EXPRESSION ([depth_class] = 7)
			STYLE
				OPACITY 30.0
				COLOR "#52b4d9"
				OUTLINECOLOR "#52b4d9"
				OUTLINEWIDTH 0.0
			END
		END

		CLASS
			NAME "1:5 year extent"
			EXPRESSION ([depth_class] =8)
			STYLE
				OPACITY 30.0
				COLOR "#007aba"
				OUTLINECOLOR "#007aba"
				OUTLINEWIDTH 0.0
			END
		END

		CLASS
			NAME "all other values"
                        EXPRESSION ([depth_class] NOT IN (5,6,7,8))
			STYLE
				OPACITY 30.0
				COLOR "#00336c"
				OUTLINECOLOR "#00336c"
				OUTLINEWIDTH 0.0
			END
		END
	END
