
    LAYER
		NAME "flood_map_sub_district"
        GROUP "flood_map"
		METADATA
			"ows_title" "flood_map_sub_district"
		END
		STATUS ON
		TYPE POLYGON
		CONNECTIONTYPE postgis
		CONNECTION "host={{ POSTGRES_HOST }} port={{ POSTGRES_PORT }} dbname={{ POSTGRES_DB }} user={{ POSTGRES_USER }} password={{ POSTGRES_PASS }}"
		DATA "geom from (select row_number() OVER () AS id,
                                a.flood_event_id,
                                a.district_id,
                                a.name,
                                a.trigger_status,
                                b.geom
                                from
                                mv_flood_event_sub_district_summary a
                                join sub_district b on b.sub_dc_code = a.sub_district_id) as subquery using unique id using srid=4326"

		CLASS
			NAME "default"
			STYLE
				COLOR "#e15989"
				OUTLINECOLOR "#000000"
				OUTLINEWIDTH 0.6
				OPACITY 100.0
			END
		END
	END
