
    LAYER
		NAME "osm_waterways"
		METADATA
			"ows_title" "osm_waterways"
		END
		STATUS ON
		TYPE LINE
		CONNECTIONTYPE postgis
		CONNECTION "host={{ POSTGRES_HOST }} port={{ POSTGRES_PORT }} dbname={{ POSTGRES_DB }} user={{ POSTGRES_USER }} password={{ POSTGRES_PASS }}"
		DATA "geometry from osm_waterways using unique id"

		CLASS
			NAME "default"
			STYLE
				COLOR 0 0 255
                WIDTH 2
			END
		END
	END
