
    LAYER
		NAME "osm_waterways"
        GROUP "web"
		METADATA
			"ows_title" "osm_waterways"
		END
		STATUS ON
		TYPE LINE
		CONNECTIONTYPE postgis
		CONNECTION "host={{ POSTGRES_HOST }} port={{ POSTGRES_PORT }} dbname={{ POSTGRES_DB }} user={{ POSTGRES_USER }} password={{ POSTGRES_PASS }}"
		DATA "geometry from osm_waterways using unique id"

		CLASS
			NAME "Rivers"
			EXPRESSION (("[waterway]" = "river") OR ("[waterway]" = "riverbank"))
			MAXSCALEDENOM 2000000.0
			MINSCALEDENOM 250001.0
			STYLE
				WIDTH 1.2
                OPACITY 100.0
                COLOR "#00baf8"
			END
		END

		CLASS
			NAME "Other"
			MAXSCALEDENOM 250000.0
			MINSCALEDENOM 0.0
			STYLE
				WIDTH 1.2
                OPACITY 100.0
                COLOR "#00baf8"
			END
		END
	END
