
    LAYER
		NAME "osm_buildings"
		METADATA
			"ows_title" "osm_buildings"
			"ows_onlineresource" "{{ MAPSERVER_PUBLIC_WMS_URL }}?SLD={{ MAPSERVER_PUBLIC_WMS_URL }}/styles/osm_buildings.sld&"
		END
		STATUS ON
		TYPE POLYGON
		CONNECTIONTYPE postgis
		CONNECTION "host={{ POSTGRES_HOST }} port={{ POSTGRES_PORT }} dbname={{ POSTGRES_DB }} user={{ POSTGRES_USER }} password={{ POSTGRES_PASS }}"
		DATA "geometry from osm_buildings using unique id"

		CLASS
			NAME "Buildings"
			MAXSCALEDENOM 10000.0
			MINSCALEDENOM 1.0
			STYLE
				OPACITY 100.0
				COLOR "#d9d0c8"
			END
		END

		CLASS
			NAME "OSM Buildings"
			MAXSCALEDENOM 25000.0
			MINSCALEDENOM 10001.0
			STYLE
				OPACITY 100.0
                COLOR "#d9d0c8"
			END
		END
	END
