
    LAYER
		NAME "osm_admin"
        GROUP "web"
		METADATA
			"ows_title" "osm_admin"
		END
		STATUS ON
		TYPE POLYGON
		CONNECTIONTYPE postgis
		CONNECTION "host={{ POSTGRES_HOST }} port={{ POSTGRES_PORT }} dbname={{ POSTGRES_DB }} user={{ POSTGRES_USER }} password={{ POSTGRES_PASS }}"
		DATA "geometry from osm_admin using unique id"

		CLASS
			NAME "Admin level 2"
			EXPRESSION ([admin_level] = 2)
			STYLE
				OPACITY 100.0
				COLOR "#808080"
			END
		END

		CLASS
			NAME "Admin level 4"
			EXPRESSION ([admin_level] = 4)
			STYLE
				WIDTH 1.0
				OPACITY 100.0
				COLOR "#ffffff"
			END
		END

		CLASS
			NAME "Admin level 5"
			EXPRESSION ([admin_level] = 5)
			STYLE
				WIDTH 1.0
				OPACITY 100.0
				COLOR "#ffffff"
			END
		END

		CLASS
			NAME "Admin level 6"
			EXPRESSION ([admin_level] = 6)
			STYLE
				WIDTH 1.0
				OPACITY 100.0
				COLOR "#ffffff"
			END
		END

		CLASS
			NAME "Admin level bigger than 7"
			EXPRESSION (([admin_level] >= 7) OR ([admin_level] = 1) OR ([admin_level] is NULL))
			MAXSCALEDENOM 500000.0
			MINSCALEDENOM 1.0
			STYLE
				WIDTH 1.0
				OPACITY 100.0
				COLOR "#ffffff"
			END
		END
	END
